<div class='nested-form-wrapper border border-slate-400 rounded-md p-3 my-2' data-new-record="<%= form.object.new_record? %>">
  <div class= 'mb-2'>
    <div class='inline rounded-md bg-blue-50 px-2 py-1 font-medium text-blue-500 ring-1 ring-inset ring-blue-500/10'>Person details</div>
  </div>
  <%= form.label :email %>
  <%= form.email_field :email, class: 'block min-w-full mt-1 border border-black p-2 mb-3', required: true %>
  <%= form.label :age %>
  <%= form.number_field :age, class: 'block min-w-full mt-1 border border-black p-2 mb-3' %>
  <%= form.label :phone %>
  <%= form.text_field :phone, class: 'block min-w-full mt-1 border border-black p-2 mb-3' %>
  <%= form.label :title %>
  <%= form.select :title, Detail.titles.to_a, {}, { class: 'block min-w-full mt-1 border border-black p-2 mb-3' } %>
  <div class='flex justify-end'>
    <button type="button" data-action="nested-form#remove" class='inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10'>Remove Details</button>
  </div>
  <%= form.hidden_field :_destroy %>
</div>